<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Player Management System</h1>
    <hr>
    <h2>Update Player</h2>

    <form action="#" th:action="@{/player/save}" th:object="${player}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{created}" />
        <input type="hidden" th:field="*{updated}" />
        <input type="hidden" th:field="*{isActive}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{surname}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{nickname}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{rating}" class="form-control mb-4 col-4">

        <select class="form-control" th:field="*{positions}"  multiple>
            <option value="0">Select Position</option>
            <option th:each="position : ${positions}" th:value="${position.id}" th:text="${position.code}"></option>
        </select>

        <select class="form-control" th:field="*{team}"  multiple>
            <option value="0">Select Team</option>
            <option th:each="teamOption : ${teamList}" th:value="${teamOption.id}" th:text="${teamOption.name}"></option>
        </select>

        <button type="submit" class="btn btn-info col-2"> Update Player</button>
    </form>

    <hr>

    <a th:href="@{/players}"> Back to Player List</a>
</div>
</body>

</html>